.gallery-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

.gallery-scroll {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  animation: scrollGallery 25s linear infinite;
}

.g-img {
  height: 160px;
  width: 250px;
  border-radius: 18px;
  object-fit: cover;
  background: rgba(255, 255, 255, 0.05);
  flex-shrink: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* smooth infinite scroll */
@keyframes scrollGallery {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}