.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 10vw;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
  /* <-- Important: aligns bigger logo */
}

.nav-logo img {
  transition: 0.2s ease;
}

.nav-logo img:hover {
  transform: scale(1.05);
}

.nav a {
  margin-left: 22px;
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
}

.contact-btn {
  padding: 10px 18px;
  background: linear-gradient(to right, var(--accent-left), var(--accent-right));
  border-radius: 20px;
}